<!doctype html>
<html><head>
<meta charset="utf-8">
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Carlos Alvarez - Alvarez.is">

<!-- Le styles -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/font-style.css" rel="stylesheet">
<link href="assets/css/flexslider.css" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<style type="text/css">
	body {
		padding-top: 60px;
	}
	
</style>

<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="assets/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

      <!-- Google Fonts call. Font Used Open Sans & Raleway -->
      <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

      <script type="text/javascript">

      	$(document).ready(function () {

      		$("#btn-blog-next").click(function () {
      			$('#blogCarousel').carousel('next')
      		});
      		$("#btn-blog-prev").click(function () {
      			$('#blogCarousel').carousel('prev')
      		});

      		$("#btn-client-next").click(function () {
      			$('#clientCarousel').carousel('next')
      		});
      		$("#btn-client-prev").click(function () {
      			$('#clientCarousel').carousel('prev')
      		});
      		
      	});

      	$(window).load(function(){

      		$('.flexslider').flexslider({
      			animation: "slide",
      			slideshow: true,
      			start: function(slider){
      				$('body').removeClass('loading');
      			}
      		});  

      		
      		

      	});

      </script>


      
  </head>
  <body>
  	
  	<!-- NAVIGATION MENU -->

  	<div class="navbar-nav navbar-inverse navbar-fixed-top">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="index.html"><img src="assets/img/logo30.png" alt=""> Dashboard</a>
  			</div> 
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav">
  					<li class="active"><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
  					

  				</ul>
  			</div><!--/.nav-collapse -->
  		</div>
  	</div>

  	<div class="container">

  		<!-- FIRST ROW OF BLOCKS -->     
  		<div class="row">

  			<!-- USER PROFILE BLOCK -->
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>User Profile</dtitle>
  					<hr>
  					<div class="thumbnail">
  						<img src="assets/img/face80x80.jpg" alt="Marcel Newman" class="img-circle">
  					</div><!-- /thumbnail -->
  					<h1>Marcel Newman</h1>
  					<h3>Madrid, Spain</h3>
  					<br>
  					<div class="info-user">
  						<span aria-hidden="true" class="li_user fs1"></span>
  						<span aria-hidden="true" class="li_settings fs1"></span>
  						<span aria-hidden="true" class="li_mail fs1"></span>
  						<span aria-hidden="true" class="li_key fs1"></span>
  					</div>
  				</div>
  			</div>

  			<!-- DONUT CHART BLOCK -->
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Site Bandwidth</dtitle>
  					<hr>
  					<div id="load"></div>
  					<h2 id="bandwidthLabel"></h2>
  				</div>
  			</div>

  			<!-- DONUT CHART BLOCK -->
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Disk Space</dtitle>
  					<hr>
  					<div id="space"></div>
  					<h2 id="diskSpaceLabel"></h2>
  				</div>
  			</div>
  			
  			<div class="col-sm-3 col-lg-3">

  				<!-- LOCAL TIME BLOCK -->
  				<div class="half-unit">
  					<dtitle>Local Time</dtitle>
  					<hr>
  					<div class="clockcenter">
  						<digiclock>12:45:25</digiclock>
  					</div>
  				</div>

  				<!-- SERVER UPTIME -->
  				<div class="half-unit">
  					<dtitle>Server Uptime</dtitle>
  					<hr>
  					<div class="cont">
  						<p><img src="assets/img/up.png" alt=""> <bold>Up</bold> | 356ms.</p>
  					</div>
  				</div>

  			</div>
  		</div><!-- /row -->
  		
  		
  		<!-- SECOND ROW OF BLOCKS -->     
  		<div class="row">
  			<div class="col-sm-3 col-lg-3">
  				<!-- MAIL BLOCK -->
  				<div class="dash-unit">
  					<dtitle>Inbox (1)</dtitle>
  					<hr>
  					<div class="framemail">
  						<div class="window">
  							<ul class="mail">
  								<li>
  									<i class="unread"></i>
  									<img class="avatar" src="assets/img/photo01.jpeg" alt="avatar">
  									<p class="sender">Adam W.</p>
  									<p class="message"><strong>Working</strong> - This is the last...</p>
  									<div class="actions">
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
  									</div>
  								</li>
  								<li>
  									<i class="read"></i>
  									<img class="avatar" src="assets/img/photo02.jpg" alt="avatar">
  									<p class="sender">Dan E.</p>
  									<p class="message"><strong>Hey man!</strong> - You have to taste ...</p>
  									<div class="actions">
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
  									</div>
  								</li>
  								<li>
  									<i class="read"></i>
  									<img class="avatar" src="assets/img/photo03.jpg" alt="avatar">
  									<p class="sender">Leonard N.</p>
  									<p class="message"><strong>New Mac :D</strong> - So happy with ...</p>
  									<div class="actions">
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
  									</div>
  								</li>
  								<li>
  									<i class="read"></i>
  									<img class="avatar" src="assets/img/photo04.jpg" alt="avatar">
  									<p class="sender">Peter B.</p>
  									<p class="message"><strong>Thank you</strong> - Finally I can ...</p>
  									<div class="actions">
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
  										<a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
  										<a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
  									</div>
  								</li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- /dash-unit -->
  			</div><!-- /span3 -->

  			<!-- GRAPH CHART - lineandbars.js file -->     
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Other Information</dtitle>
  					<hr>
  					<div class="section-graph">
  						<div id="importantchart"></div>
  						<br>
  						<div class="graph-info">
  							<i class="graph-arrow"></i>
  							<span class="graph-info-big">634.39</span>
  							<span class="graph-info-small">+2.18 (3.71%)</span>
  						</div>
  					</div>
  				</div>
  			</div>

  			<!-- LAST MONTH REVENUE -->     
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Last Month Revenue</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>$879</bold> | <ok>Approved</ok></p>
  						<br>
  						<p><bold>$377</bold> | Pending</p>
  						<br>
  						<p><bold>$156</bold> | <bad>Denied</bad></p>
  						<br>
  						<p><img src="assets/img/up-small.png" alt=""> 12% Compared Last Month</p>

  					</div>

  				</div>
  			</div>
  			
  			<!-- 30 DAYS STATS - CAROUSEL FLEXSLIDER -->     
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Last 30 Days Stats</dtitle>
  					<hr>
  					<br>
  					<br>
  					<div class="flexslider">
  						<ul class="slides">
  							<li><img src="assets/img/slide01.png" alt="slider"></li>
  							<li><img src="assets/img/slide02.png" alt="slider"></li>
  						</ul>
  					</div>
  					<div class="cont">
  						<p>StatCounter Information</p>
  					</div>   
  				</div>
  			</div>
  		</div><!-- /row -->
  		
  		
  		<!-- THIRD ROW OF BLOCKS -->     
  		<div class="row">
  			<div class="col-sm-3 col-lg-3">
  				
  				<!-- BARS CHART - lineandbars.js file -->     
  				<div class="half-unit">
  					<dtitle>Stock Information</dtitle>
  					<hr>
  					<div class="cont">
  						<div class="info-aapl">
  							<h4>AAPL</h4>
  							<ul>
  								<li><span class="orange" style="height: 37.5%"></span></li>
  								<li><span class="orange" style="height: 47.5%"></span></li>
  								<li><span class="orange" style="height: 70%"></span></li>
  								<li><span class="orange" style="height: 85%"></span></li>
  								<li><span class="green" style="height: 75%"></span></li>
  								<li><span class="green" style="height: 50%"></span></li>
  								<li><span class="green" style="height: 15%"></span></li>
  							</ul>
  						</div>
  					</div>
  				</div>

  				<!-- TO DO LIST -->     
  				<div class="half-unit">
  					<dtitle>To Do List</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>13</bold> | Pending Tasks</p>
  					</div>
  					<div class="progress">
  						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;"><span class="sr-only">60% Complete</span>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="col-sm-3 col-lg-3">

  				<!-- LIVE VISITORS BLOCK -->     
  				<div class="half-unit">
  					<dtitle>Live Visitors</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>388</bold></p>
  						<p><img src="assets/img/up-small.png" alt=""> 412 Max. | <img src="assets/img/down-small.png" alt=""> 89 Min.</p>
  					</div>
  				</div>
  				
  				<!-- PAGE VIEWS BLOCK -->     
  				<div class="half-unit">
  					<dtitle>Page Views</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>145.0K</bold></p>
  						<p><img src="assets/img/up-small.png" alt=""> 23.88%</p>
  					</div>
  				</div>
  			</div>

  			<div class="col-sm-3 col-lg-3">
  				<!-- TOTAL SUBSCRIBERS BLOCK -->     
  				<div class="half-unit">
  					<dtitle>Total Subscribers</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>14.744</bold></p>
  						<p>98 Subscribed Today</p>
  					</div>
  				</div>
  				
  				<!-- FOLLOWERS BLOCK -->     
  				<div class="half-unit">
  					<dtitle>Twitter Followers</dtitle>
  					<hr>
  					<div class="cont">
  						<p><bold>17.833 Followers</bold></p>
  						<p>@SomeUser</p>
  					</div>
  				</div>
  			</div>

  			<!-- LATEST NEWS BLOCK -->     
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Latest News</dtitle>
  					<hr>
  					<div class="info-user">
  						<span aria-hidden="true" class="li_news fs2"></span>
  					</div>
  					<br>
  					<div class="text">
  						<p><b>Alvarez.is:</b> A beautiful new Dashboard theme has been realised by Carlos Alvarez. Please, visit <a href="http://alvarez.is">Alvarez.is</a> for more details.</p>
  						<p><grey>Last Update: 5 minutes ago.</grey></p>
  					</div>
  				</div>
  			</div>
  		</div><!-- /row -->
  		
  		
  		<!-- FOURTH ROW OF BLOCKS -->     
  		<div class="row">

  			
  			<!-- GAUGE CHART BLOCK -->     
  			<div class="col-sm-3 col-lg-3">
  				<div class="dash-unit">
  					<dtitle>Gauge Chart</dtitle>
  					<hr>
  					<div class="info-user">
  						<span aria-hidden="true" class="li_lab fs2"></span>
  					</div>
  					<canvas id="canvas" width="300" height="300">
  					</canvas></div>
  				</div>
  				
  				<div class="col-sm-3 col-lg-3">

  					<!-- LAST USER BLOCK -->     
  					<div class="half-unit">
  						<dtitle>Last Registered User</dtitle>
  						<hr>
  						<div class="cont2">
  							<img src="assets/img/user-avatar.jpg" alt="">
  							<br>
  							<br>
  							<p>Paul Smith</p>
  							<p><bold>Liverpool, England</bold></p>
  						</div>
  					</div>
  					
  					
  				</div>
  				
  				<!-- FAST CONTACT BLOCK -->     
  				<div class="col-sm-3 col-lg-3">
  					<div class="dash-unit">
  						<dtitle>Fast Contact</dtitle>
  						<hr>
  						<div class="cont">
  							<form action="#get-in-touch" method="POST" id="contact">
  								<input type="text" id="contactname" name="contactname" placeholder="Name">
  								<input type="text" id="email" name="email" placeholder="Email">
  								<div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>
  								<input type="submit" id="submit" name="submit" value="Send">
  							</form>
  						</div>
  					</div>
  				</div>

  				<!-- INFORMATION BLOCK -->     
  				<div class="col-sm-3 col-lg-3">
  					<div class="dash-unit">
  						<dtitle>Block Dashboard</dtitle>
  						<hr>
  						<div class="info-user">
  							<span aria-hidden="true" class="li_display fs2"></span>
  						</div>
  						<br>
  						

  					</div>
  				</div>

  			</div><!--/row -->
  			
  			
  			
  		</div> <!-- /container -->
  		<div id="footerwrap">
  			<footer class="clearfix"></footer>
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-12 col-lg-12">
  						<p><img src="assets/img/logo.png" alt=""></p>
  						<p>Copyright 2015</p>
  					</div>

  				</div><!-- /row -->
  			</div><!-- /container -->		
  		</div><!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    
    
    <script type="text/javascript" src="assets/js/gauge.js"></script>
    
    <!-- NOTY JAVASCRIPT -->
    <script type="text/javascript" src="assets/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="assets/js/noty/layouts/topCenter.js"></script>
    
    <!-- You can add more layouts if you want -->
    <script type="text/javascript" src="assets/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script src="assets/js/jquery.flexslider.js" type="text/javascript"></script>

    <script type="text/javascript" src="assets/js/admin.js"></script>
    
    <script type="text/javascript">
    	
    	$(document).ready(function() {

    		function generateNumber(min, max) {
    			min = typeof min !== 'undefined' ? min : 1;
    			max = typeof max !== 'undefined' ? max : 100;
    			
    			return Math.floor((Math.random() * max) + min);
    		}
    		
    		


    		var socket = io.connect('http://localhost:3000');
    		socket.on('data', function (data) {
    			var chart,
    			categories ,
    			serie1 ,
    			serie2,
    			$aapls;
    			
    			categories = data.categorie.categories;
    			serie1 = data.categorie.serie1;
    			serie2 = data.categorie.serie2;

    			bandwidth = data.bandwidth;
    			diskSpace = data.diskSpace;
    			bandwidthLabel = bandwidth[0].y;
    			diskSpaceLabel = diskSpace[0].y;


    			$("#bandwidthLabel").html(bandwidthLabel + "%");
    			$("#diskSpaceLabel").html(diskSpaceLabel + "%");
    			info = new Highcharts.Chart({
    				chart: {
    					renderTo: 'load',
    					margin: [0, 0, 0, 0],
    					backgroundColor: null,
    					plotBackgroundColor: 'none',
    					
    				},
    				
    				title: {
    					text: null
    				},

    				tooltip: {
    					formatter: function() { 
    						return this.point.name +': '+ this.y +' %';
    						
    					} 	
    				},
    				series: [
    				{
    					borderWidth: 2,
    					borderColor: '#F1F3EB',
    					shadow: false,	
    					type: 'pie',
    					name: 'Income',
    					innerSize: '65%',
    					data: bandwidth,
    					dataLabels: {
    						enabled: false,
    						color: '#000000',
    						connectorColor: '#000000'
    					}
    				}]
    			});
    			console.log(bandwidth)

    			info = new Highcharts.Chart({
    				chart: {
    					renderTo: 'space',
    					margin: [0, 0, 0, 0],
    					backgroundColor: null,
    					plotBackgroundColor: 'none',
    					
    				},
    				
    				title: {
    					text: null
    				},

    				tooltip: {
    					formatter: function() { 
    						return this.point.name +': '+ this.y +' %';
    						
    					} 	
    				},
    				series: [
    				{
    					borderWidth: 2,
    					borderColor: '#F1F3EB',
    					shadow: false,	
    					type: 'pie',
    					name: 'SiteInfo',
    					innerSize: '65%',
    					data: diskSpace,
    					dataLabels: {
    						enabled: false,
    						color: '#000000',
    						connectorColor: '#000000'
    					}
    				}]
    			});

    			chart = new Highcharts.Chart({
    				chart: {
    					renderTo: 'importantchart',
    					type: 'column',
    					backgroundColor: 'transparent',
    					height: 140,
    					marginLeft: 3,
    					marginRight: 3,
    					marginBottom: 0,
    					marginTop: 0
    				},
    				title: {
    					text: ''
    				},
    				xAxis: {
    					lineWidth: 0,
    					tickWidth: 0,
    					labels: { 
    						enabled: false 
    					},
    					categories: categories
    				},
    				yAxis: {
    					labels: { 
    						enabled: false 
    					},
    					gridLineWidth: 0,
    					title: {
    						text: null,
    					},
    				},
    				series: [{
    					name: 'Awesomness',
    					data: serie1
    				}, {
    					name: 'More Awesomness',
    					color: '#fff',
    					type: 'line',
    					data: serie2
    				}],
    				credits: { 
    					enabled: false 
    				},
    				legend: { 
    					enabled: false 
    				},
    				plotOptions: {
    					column: {
    						borderWidth: 0,
    						color: '#b2c831',
    						shadow: false
    					},
    					line: {
    						marker: { 
    							enabled: false 
    						},
    						lineWidth: 3
    					}
    				},
    				tooltip: { 
    					enabled: false
    				}
    			});

setInterval(function() {
	chart.series[0].addPoint(generateNumber(), true, true);
	chart.series[1].addPoint(generateNumber(50, 150), true, true);
}, 1000);



setInterval(function() {
	$('.info-aapl span').each(function(index, elem) {
		$(elem).animate({
			height: generateNumber(1, 40)
		});
	});

}, 3000);


});




});
</script>